/* *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  overscroll-behavior: none;
  -ms-overflow-style: none;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: fixed;
  left: 0;
  right: 0;
  will-change: transform;
}
.ghost {
  width: 100vw;
}

.thumbnails-container {
  position: relative;
  height: 100vh;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0px 160px;
  /* background-color: black;
  border: 40px solid yellowGreen; */
}
.thumbnails {
  position: relative;
  display: flex;
  /* border: 20px solid yellow; */
}
.thumbnails:not(:last-child) {
  margin-right: 45px;
}
.thumbnail {
  height: 40vh;
  width: 700px;
  /* background-color: royalblue;
  border: 15px solid magenta; */
}

/* /////////////// */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unlist {
  display: flex;
  list-style: none;
  padding: 0;
}
.unlist li {
  margin-right: 10px;
}

.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  width: 70%;
  width: auto;
  height: auto;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.8s ease;
  margin-bottom: -10px;
  width: 100%;
  height: 100%;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

/* //////////////////// */
/* SCROLL CLASSES */

.child {
  width: 100vw;
  height: auto;
  background-color: red;
}
.bgImg {
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.centerH {
  justify-content: center;
}
.centerV {
  align-items: center;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexEnd {
  justify-content: flex-end;
}
